button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
    -webkit-appearance--moz-user-select: none;
      -webkit-appearance--moz-user-select--ms-user-select: none; }

.loginpage {
  background: url("../assets/login-right-section-image.png") no-repeat;
  background-size: -webkit-calc(100% - 370px) -webkit-calc(100vh - 60px);
  background-size: calc(100% - 370px) calc(100vh - 60px); }

.navblock {
  height: 150px; }

.wrap {
  margin-left: 50px; }

.wrap_products {
  margin-right: 50px;
  margin-bottom: 80px; }

.wrap__item {
  height: 150px;
  padding: 0; }

.wrap__item_auth {
  height: 60px; }

.wrap__item_user {
  position: relative; }

.wrap__item_content {
  height: 600px; }

.wrap__item_image {
  height: -webkit-calc(100vw * 0.31);
  height: calc(100vw * 0.31); }

.wrap__item_logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.logo {
  position: relative;
  width: 120px;
  height: 55px;
  top: 10px;
  margin: 0 auto; }

.search {
  width: 100%;
  margin: 0 auto; }

.input {
  width: 80%;
  margin: 6px auto;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #00b3be;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #00b3be));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #00b3be 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #00b3be 4%);
  background-position: -200px 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #005358; }
  .input:focus, .input:valid {
    -webkit-box-shadow: none;
            box-shadow: none;
    outline: none;
    background-position: 0 0;
    color: #00b3be;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: regular;
    font-size: 14px;
    text-indent: 20px;
    -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
            transform: translateY(-20px);
    visibility: visible !important; }

.input_form {
  color: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(96%, rgba(255, 255, 255, 0)), color-stop(4%, #f2f2f2));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #f2f2f2 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #f2f2f2 4%); }
  .input_form:focus, .input_form:valid {
    color: #f2f2f2;
    text-indent: 0; }
    .input_form:focus::-webkit-input-placeholder, .input_form:valid::-webkit-input-placeholder {
      color: #f2f2f2;
      text-indent: 0;
      -webkit-transform: translateY(2px);
              transform: translateY(2px); }

.search__button {
  position: relative;
  top: 17px;
  left: 10%;
  cursor: pointer;
  height: 15px;
  width: 15px; }

.user-block {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  min-width: 300px;
  max-width: 380px;
  background-color: #00b3be;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: auto; }
  .user-block:hover {
    border-left: 4px solid #4a4a4a; }

.user-block_nohover:hover {
  border-left: none; }

.user-block_dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-calc(100% + 4px);
  width: calc(100% + 4px);
  min-width: 300px;
  max-width: 380px;
  background-color: #00b3be;
  top: 60px;
  right: 0;
  height: 40px;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  opacity: 0; }

.user-block:hover .user-block_dropdown {
  opacity: 1; }

.user-block__photo {
  height: 40px;
  margin-top: 10px;
  margin-left: 25px;
  margin-bottom: 10px;
  margin-right: 10px; }

.user-block__name, .product-details__panel p {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #eaf6f7;
  margin: 20px 0; }

.user-block__name_drop {
  margin: 0;
  font-weight: normal;
  border-left: 4px solid #4a4a4a;
  width: 50%;
  text-align: center;
  text-decoration: none; }

.user-block__logout {
  margin-left: auto;
  margin-right: 25px;
  margin-top: 18px;
  margin-bottom: 18px;
  cursor: pointer;
  height: 24px; }

.userauth {
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  background-color: #00b3be;
  min-width: 300px;
  max-width: 380px;
  margin-left: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.userauth__logo {
  width: 198px;
  height: 69px;
  margin: 30px auto 0; }

.tabs {
  border-bottom: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-top: 90px; }

.tabs__item {
  width: 150px;
  height: 35px;
  color: black;
  background-color: #f2f2f2;
  -webkit-border-top-right-radius: 0 !important;
          border-top-right-radius: 0 !important;
  -webkit-border-top-left-radius: 0 !important;
          border-top-left-radius: 0 !important;
  text-align: center;
  line-height: 15px; }

.nav-item > .active {
  border-bottom: 5px solid #91d763 !important; }

.authform {
  margin-top: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.authform__submit {
  width: 150px;
  height: 35px;
  font-size: 14px;
  background-color: #f2f2f2;
  margin: 0 auto; }
  .authform__submit:hover {
    height: 40px;
    border-bottom: 5px solid #91d763; }

.content__image {
  width: 100%;
  height: 100%; }

.arrow-wrap {
  position: absolute;
  height: 100%;
  width: 45px;
  right: 15px;
  top: 0;
  background-color: #fff;
  opacity: 0.5; }

.arrow {
  position: relative;
  top: 45%;
  right: -12px; }

.content {
  margin-bottom: 60px; }

.content__item {
  font-size: 16px;
  font-style: normal;
  color: #4a4a4a;
  margin-bottom: 1em; }

.content__item_bold, .content__item_maincolor, .content__item_green {
  font-weight: bold; }

.content__item_italic {
  font-style: italic; }

.content__item_maincolor {
  color: #00b3be; }

.content__item_green {
  color: #91d763;
  font-size: 32px;
  margin-left: 15px; }

.content__item_list {
  margin-top: -15px;
  list-style-type: none; }

.content__item_list > li {
  text-indent: -10px; }

.content__item_list > li:before {
  content: '-';
  text-indent: -10px; }

.content__item > p {
  margin-bottom: 0; }

.product {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin: 20px 0; }

.product__item {
  padding: 0 10px;
  height: 250px; }

.product-details__image {
  width: 100%;
  height: 200px; }

.product-details__image_1 {
  background: url("../assets/picture1.png") no-repeat;
  background-size: cover !important;
  background-position: center center !important; }

.product-details__image_2 {
  background: url("../assets/picture2.png") no-repeat;
  background-size: cover !important;
  background-position: center center !important; }

.product-details__image_3 {
  background: url("../assets/picture3.png") no-repeat;
  background-size: cover !important;
  background-position: center center !important; }

.product-details__image_4 {
  background: url("../assets/picture4.png") no-repeat;
  background-size: cover !important;
  background-position: center center !important; }

.product-details__panel {
  background-color: #00b3be;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .product-details__panel img {
    height: 20px;
    margin: auto 0;
    margin-right: 12px;
    margin-left: auto;
    cursor: pointer; }
  .product-details__panel p {
    margin: auto 15px; }

.footer {
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #00b3be;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif; }
