$color: #00b3be
$green: #91d763
$boldcolor: #4a4a4a

button 
    background: none
    border: 0
    color: inherit
    font: inherit
    line-height: normal
    overflow: visible
    padding: 0
    -webkit-appearance: button
       -moz-user-select: none
        -ms-user-select: none



.loginpage
    background: url('../assets/login-right-section-image.png') no-repeat
    background-size: calc(100% - 360px) calc(100vh - 60px)

.navblock
   height: 150px

.wrap
    margin-left: 50px

.wrap_products
    margin-right: 50px
    margin-bottom: 80px

.wrap__item
    height: 150px
    padding: 0

.wrap__item_auth
    height: 60px    

.wrap__item_user
    position: relative    

.wrap__item_content
    height: 600px

.wrap__item_image
    height: calc(100vw * 0.31)

.wrap__item_logo
    display: flex


.logo
    position: relative
    width: 115px
    height: 45px
    top: 10px
    margin: 0 auto

.search
    width: 100%
    margin: 0 auto

.input
    width: 80%   
    margin: 6px auto
    display: block
    border: none
    padding: 10px 0
    border-bottom: solid 1px $color
    transition: all 0.3s cubic-bezier(.64,.09,.08,1)
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, $color 4%)
    background-position: -200px 0
    background-size: 100% 100%
    background-repeat: no-repeat
    color: darken($color, 20%)
    &:focus, &:valid 
        box-shadow: none
        outline: none
        background-position: 0 0
        &::-webkit-input-placeholder 
        color: $color
        font-family: Arial, Helvetica, sans-serif
        font-weight: regular
        font-size: 14px
        text-indent: 20px
        transform: translateY(-20px)
        visibility: visible !important
        
.input_form
    color: #f2f2f2
    background: linear-gradient(to bottom, rgba(255,255,255,0) 96%, #f2f2f2 4%)
    &:focus, &:valid
        color: #f2f2f2
        text-indent: 0
        &::-webkit-input-placeholder 
            color: #f2f2f2
            text-indent: 0
            transform: translateY(2px)

.search__button
    position: relative
    top: 17px   
    left: 10%
    cursor: pointer      
    height: 15px
    width: 15px
    

.user-block
    position: relative
    box-sizing: border-box
    height: 60px
    min-width: 300px
    max-width: 380px
    background-color: $color
    display: flex
    flex-direction: row
    margin-left: auto
    &:hover
        border-left: 4px solid $boldcolor       

.user-block_nohover
    &:hover
        border-left: none
    
.user-block_dropdown
    box-sizing: border-box
    position: absolute
    display: flex
    width: calc(100% + 4px)
    min-width: 300px
    max-width: 380px
    background-color: $color
    top: 60px
    right: 0
    height: 40px
    justify-content: space-around
    opacity: 0

.user-block:hover .user-block_dropdown
    opacity: 1

.user-block__photo
    height: 40px
    margin:
        top: 10px
        left: 25px
        bottom: 10px
        right: 10px

.user-block__name
    font-size: 16px
    font-family: Arial, Helvetica, sans-serif
    font-weight: bold
    color: #eaf6f7    
    margin: 20px 0       

.user-block__name_drop
    margin: 0
    font-weight: normal
    border-left: 4px solid $boldcolor
    width: 50%
    text-align: center
    text-decoration: none

.user-block__logout
    margin: auto 0
    margin:
        left: auto
        right: 25px
    cursor: pointer
    height: 30px

.userauth
    height: calc(100vh - 60px)
    background-color: $color
    min-width: 300px
    max-width: 380px
    margin-left: auto
    display: flex
    flex-direction: column

.userauth__logo
    width: 198px
    height: 69px
    margin: 30px auto 0

.tabs
    border-bottom: none
    display: flex
    justify-content: space-around
    margin-top: 90px

.tabs__item
    width: 150px
    height: 35px
    color: black
    background-color: #f2f2f2
    border-top-right-radius: 0 !important
    border-top-left-radius: 0 !important
    text-align: center
    line-height: 15px

.nav-item > .active
    border-bottom: 5px solid #91d763 !important

.authform
    margin-top: 50px
    display: flex
    flex-direction: column
    justify-content: space-around

.authform__submit
    width: 150px    
    height: 35px
    font-size: 14px
    background-color: #f2f2f2
    margin: 0 auto
    &:hover
        height: 40px
        border-bottom: 5px solid #91d763

.content__image
    width: 100%
    height: 100%

.arrow-wrap
    position: absolute
    height: 100%
    width: 45px
    right: 15px
    top: 0   
    background-color: #fff
    opacity: 0.5

.arrow
    position: relative
    top: 45%
    right: -12px

.content
    margin-bottom: 60px     

.content__item
    font-size: 16px
    font-style: normal
    color: $boldcolor
    margin-bottom: 1em

.content__item_bold
    font-weight: bold

.content__item_italic
    font-style: italic    

.content__item_maincolor
    @extend .content__item_bold
    color: $color

.content__item_green
    @extend .content__item_bold
    color: $green
    font-size: 32px
    margin-left: 15px

.content__item_list
    margin-top: -15px
    list-style-type: none         

.content__item_list > li
    text-indent: -10px

.content__item_list > li:before
    content: '-'
    text-indent: -10px

.content__item > p
    margin-bottom: 0

.product
    justify-content: space-around
    margin: 20px 0

.product__item
    padding: 0 10px
    height: 250px

.product-details__image
    width: 100%
    height: 200px

.product-details__image:hover
    box-shadow: 0 4px 8px 0 rgba(0, 72.2, 74.5, 0.2), 0 6px 20px 0 rgba(0, 72.2, 74.5, 0.19)

@for $i from 1 through 4
    .product-details__image_#{$i}
        background: url('../assets/picture#{$i}.png') no-repeat
        background-size: cover !important
        background-position: center center !important


.product-details__panel
    background-color: $color
    width: 100%
    height: 50px
    display: flex
    a
        height: 30px
        margin: auto 0
        margin-right: 12px
        margin-left: auto
        cursor: pointer
    p
        @extend .user-block__name
        margin: auto 15px
        

.footer
  margin-top: 20px  
  position: fixed
  bottom: 0
  left: 0
  width: 100%
  height: 60px
  background-color: $color
  font-size: 18px
  font-weight: bold
  color: #ffffff
  line-height: 60px
  text-align: center
  font-family: Arial, Helvetica, sans-serif

