<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
     <!--Header start-->
    <header class="container-fluid wrap">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 wrap__item wrap__item_logo">
                <a href="index.html" class="logo"><img src="assets/Sellit.png" alt="Sell It"></a>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 wrap__item">
                <div class='search'>
                    <img src="assets/fa-search.png" class="search__button"  alt="">
                    <input type="text" class='input' placeholder="Try to find something">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wrap__item wrap__item_user">
                <div class='user-block'>
                    <img src="assets/userPhoto.png" alt="" class='user-block__photo'>
                    <p class='user-block__name'>Kim Evans</p>
                    <a href="login-page.html" class='user-block__logout'><img src="assets/fa-sign-out.png" alt=""></a>
                    <div class='user-block_dropdown'>
                        <a href="#" class='user-block__name user-block__name_drop'>Add new post</a>
                        <a href="login-page.html" class='user-block__name user-block__name_drop'>Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header end-->
    <!--Products start-->
    <section class='container-fluid wrap wrap_products'>
        <!--Row start-->
        <div class='row product'>
            <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_1"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_2"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_3"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_4"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
        </div>
        <!--Row end-->
         <!--Row start-->
        <div class='row product'>
            <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_1"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_2"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_3"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_4"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
        </div>
        <!--Row end-->
        <!--Row start-->
        <div class='row product'>
            <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_1"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_2"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_3"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_4"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
        </div>
        <!--Row end-->
         <!--Row start-->
        <div class='row product'>
            <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_1"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_2"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_3"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
             <div class='col-md-3 col-sm-6 col-xs-12 product__item product-details'>
                <div class="product-details__image product-details__image_4"></div>
                <div class="product-details__panel">
                    <p>Product title</p>
                    <a href="single-page.html"><img src="./assets/fa-eye.png" alt=""></a>
                </div>
            </div>
        </div>
        <!--Row end-->
    </section>
    <!--Products End-->
     <footer class='footer'>
        2017 - front-end labs Light IT
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
</body>