<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="loginpage">
    <header class="container-fluid wrap">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 wrap__item wrap__item_logo wrap__item_auth ">
                <a href="index.html" class="logo"><img src="assets/Sellit.png" alt="Sell It"></a>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 wrap__item wrap__item_auth ">
                <div class='search'>
                    <img src="assets/fa-search.png" class="search__button"  alt="">
                    <input type="text" class='input' placeholder="Try to find something">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wrap__item wrap__item_user wrap__item_auth ">
                <div class='user-block user-block_nohover'>
                    <img src="assets/userPhoto.png" alt="" class='user-block__photo'>
                    <p class='user-block__name'>Kim Evans</p>
                    <a href="login-page.html" class='user-block__logout'><img src="assets/fa-sign-out.png" alt=""></a>
                </div>
            </div>
        </div>
    </header>
    <!--auth section-->
    <section class="container-fluid wrap">
        <div class='row'>
            <div class='offset-md-6 col-md-6 col-sm-12 col-xs-12 wrap__item wrap__item_user'>
                <div class="userauth">
                    <img class='userauth__logo' src="assets/Sellit_white.png" alt="">
                    <ul class="nav nav-tabs tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active tabs__item" href="#signin" role="tab" data-toggle="tab">Sign In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tabs__item" href="#signup" role="tab" data-toggle="tab">Sign Up</a>
                        </li>
                    </ul>

                        <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active show" id="signin">
                            <form action="" class="authform">
                                <input type="text" class='input input_form' placeholder="Login">
                                <input type="password" class='input input_form' placeholder="Password">
                                <button type="submit" class="authform__submit">Login</button> 
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="signup">
                            <form action="" class="authform">
                                <input type="text" class='input input_form' placeholder="Enter Login">
                                <input type="password" class='input input_form' placeholder="Enter Password">
                                <input type="password" class='input input_form' placeholder="Confirm Password">
                                <button type="submit" class="authform__submit">Register</button> 
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--auth section end-->
    <footer class='footer'>
        2017 - front-end labs Light IT
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
</body>
</html>