<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <!--Header start-->
    <header class="container-fluid wrap">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12 wrap__item wrap__item_logo">
                <a href="index.html" class="logo"><img src="assets/Sellit.png" alt="Sell It"></a>
            </div>
            <div class="col-md-4 col-sm-8 col-xs-12 wrap__item">
                <div class='search'>
                    <img src="assets/fa-search.png" class="search__button"  alt="">
                    <input type="text" class='input' placeholder="Try to find something">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 wrap__item wrap__item_user">
                <div class='user-block'>
                    <img src="assets/userPhoto.png" alt="" class='user-block__photo'>
                    <p class='user-block__name'>Kim Evans</p>
                    <a href="login-page.html" class='user-block__logout'><img src="assets/fa-sign-out.png" alt=""></a>
                    <div class='user-block_dropdown'>
                        <a href="#" class='user-block__name user-block__name_drop'>Add new post</a>
                        <a href="#" class='user-block__name user-block__name_drop'>Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--Header end-->
    <!--Details start-->
    <section class="container-fluid wrap">
        <div class="row">
            <div class="col-md-4 col-sm-12 offset-md-2 wrap__item_image slider">
                <div class="slider__item">
                     <img src="assets/sliderImg.png" class='content__image' alt="">
                </div>
                <div class="slider__item">
                     <img src="assets/sliderImg.png" class='content__image' alt="">
                </div>
               
            </div>
            <div class="col-md-4 col-sm-12 wrap__item wrap__item_content">
                <div class='content'>
                    <h2>Some title text must be here
                        maybe second line
                    </h2>
                    <p class='content__item content__item_bold'>from <span class="content__item_maincolor">
                        Alis Kim</span> <span class='content__item_green'>18000$</span>
                    </p>
                    <p class='content__item'>
                        Some description text from WYSIWYG editer
                    </p>
                    <p class='content__item'>
                        Can be <span class='content__item_bold'>Bold</span> <span class='content__item_italic'>Italic</span>
                    </p>
                    <p class='content__item content__item_bold'>Can have list:
                    </p>
                    <ul class='content__item content__item_list'>
                        <li class='content__item_bold'> first</li>
                        <li class='content__item_bold'> second</li>
                    </ul>
                    <p class='content__item'> And anything from WYSIWYG editer</p>
                    <div class='content__item'>
                        <p class='content__item_bold'>Some line</p>
                        <p>Some line</p>
                        <p>Some line</p>
                    </div>
                    <p class='content__item content__item_bold'>
                        Finished on this line
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!--Details end-->
    <footer class='footer'>
        2017 - front-end labs Light IT
    </footer>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
</body>
</html>